amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
chardet==5.2.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
decouple==0.0.7
Django==5.1.7
django-appconf==1.1.0
django-autocomplete-light==3.12.1
django-countries==7.6.1
django-jazzmin==3.0.1
django-select2==8.4.1
djangocms-admin-style==3.3.1
et_xmlfile==2.0.0
kombu==5.5.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==11.2.1
prompt_toolkit==3.0.50
python-dateutil==2.9.0.post0
python-decouple==3.8
reportlab==4.4.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
vine==5.1.0
wcwidth==0.2.13
