{% extends "admin/change_list.html" %}

{% block content %}
  {% if total_mensuel is not None and mois_actuel is not None and reste is not None %}
    <div style="padding: 10px; background-color: #eef; border: 1px solid #99f; margin-bottom: 20px;">
      <strong>Total des dépenses du mois de {{ mois_actuel }} :</strong> {{ total_mensuel }} FCFA
    </div>
    <div style="padding: 10px; background-color: #efe; border: 1px solid #9f9; margin-bottom: 20px;">
      <strong>Montant total saisi :</strong> {{ reste|add:total_mensuel }} FCFA
    </div>
    <div style="padding: 10px; background-color: #fee; border: 1px solid #f99; margin-bottom: 20px;">
      <strong>Reste à payer :</strong> {{ reste }} FCFA
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}
